html, body {
  @apply h-full relative -z-20 bg-neutral-950;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  @apply px-6 flex flex-row;
}

section {
  @apply min-h-screen flex;

  scroll-snap-align: start;

}
.section-content {
  /* @apply gr; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main {
}


p {
  @apply font-body text-base;
}